.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #efefef;
  }
  
  .hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .hero button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
  }
  
  .hero button:hover {
    background-color: gray;
  }
  