.auth-form {
    margin-top: 20px;
  }
  
  .form-toggle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .form-toggle button {
    flex: 1;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #f0f0f0;
    color: #333;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .form-toggle button.active {
    background-color: black;
    color: white;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 0.9em;
  }
  
  .form-group input {
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #444;
  }
  