/* 검색 바 스타일 */
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px; /* 검색 바 최대 너비 */
    margin: 10px auto;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .search-input:focus {
    border-color: #f0a500;
    box-shadow: 0 0 5px rgba(240, 165, 0, 0.5);
  }
  